.places {
    list-style: none;
}

.place {
    margin-bottom: 3rem;
}

.placeIsClosed {
    opacity: 0.3333;
}

.place__name {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.place__address {
    /*color: green;*/
}

.place__neighborhood {
    /*color: red;*/
}