.places {
    list-style: none;
}

.placesOpenNow .placeIsClosed {
    display: none;
}

.place {
    margin-bottom: 3rem;
}

.placeIsClosed {
    opacity: 0.3333;
}

.place__name {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.place__address {
    /*color: green;*/
}

.place__neighborhood {
    /*color: red;*/
}



/*.icon__airbnb {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}*/

.icon__dollar {
    display: inline-block;
    height: 35px;
    margin-right: 10px;
}

.icon__heart {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}

.icon__like {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}

/*.icon__us {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
}*/
